/* ############################### BASE ############################### */

body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

html, body {
    margin:0;
    padding:0;
    height:100%
}

body {
    background-image: none;
    background-color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 12px;
}

* html body {
    overflow:hidden;
}
* html div#content {
    height:100%;
    overflow:auto;
}

@media screen{
    body>div#header{
        position:fixed;
    }
    body>div#footer{
        position:fixed;
    }
}

div.hidden {
    display:none
}
div.clearfix {
    clear: both;
}

.required {
    color: #CC1830;
}

fieldset,img {
    border: 0;
}

a {
    color: #848484;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #6E6E6E;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0;
    padding: 0;
}

h1{
    font-size: 200%;
    color: #6E6E6E;
}

h2{
    font-size: 125%;
    color: #6E6E6E;
    margin-bottom: .2em;
}

h3{
    font-size: 150%;
    color: #6E6E6E;
}

h4{
    font-size: 175%;
    color: #6E6E6E;
}

h5{
    font-size: 150%;
    color: #6E6E6E;
    margin-bottom: 10px;
}

h6{
    font-size: 125%;
    color: #6E6E6E;
}

.clearingfix:after{
    content: ".";
    display: block;
    line-height: 0px;
    clear: both;
    visibility: hidden;
}

.clearingfix{
    display: block;
}

.scroll {
    overflow:auto !important;
}

/* ############################### BOXES ############################### */

.box-light,
.box-medium,
.box-dark {
    -moz-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -khtml-border-radius:5px;
    padding:5px 5px 5px 5px;
}

.box-light {
    background-color: #FAFAFA;
    border: 1px solid #F2F2F2;
}

.box-medium {
    background-color: #F2F2F2;
    border: 1px solid #D8D8D8;
}

.box-dark {
    background-color: #D8D8D8;
    border: 1px solid #BBB;
}

/* ############################### BUTTONS ############################### */

.button {
    -moz-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -khtml-border-radius:5px;
    padding:5px 5px 5px 5px;
    background-color: #D8D8D8;
    border: 1px solid #BBB;
    font-weight: bold;
    font-size:16px;
    color:#585858;
}
.button:hover {
    background-color: #BDBDBD;
    cursor:pointer;
}

/* ############################### HEADER ############################### */

div#header {
    position:absolute;
    top:0;
    left:0;
    height:120px;
    width:100%;
    overflow:hidden;
    background-color:#F2F2F2;
    border-bottom: 1px solid #BDBDBD;
}

div#header-logo {
    border: none;
    background-color:transparent;
    padding: 10px 4px;
    float: left;
    margin: 0 0 0 12px;
    text-align: left;
}

div#header-logo h1{
    margin:0;
    padding:0 0 5px 0;
    font-size: 24px;
    color:#6E6E6E;
}

div#header-logo a {
    text-decoration: none;
}

div#header-logo img {
  max-height: 55px;
}

div#header-logo span{
    font-size:14px;
    color:#848484;
}

div#header-language {
    position:absolute;
    top:20px;
    right:225px;
    text-align: right;
}

div#header-language .language-box {
    margin:0;
    padding:0;
}

div#header-search {
    position:absolute;
    top:20px;
    right:20px;
    text-align: right;
}

div#header-search .search-form {
    margin:0;
    padding:0;
    float:none;
}

div#header-search .search-form input {
    background-color:#F2F2F2;
}

div#header-submit {
    position:absolute;
    top:20px;
    right:10px;
}

div#header-submit #submit-incident {

}

/* ############################### FOOTER ############################### */

div#footer {
    position:fixed;
    bottom:0;
    height:15px;
    width:100%;
    left:0;
    overflow:hidden;
    background-color:#F2F2F2;
    border-top: 1px solid #BDBDBD;
}

div#footer #footer-links {
    float:left;
}

div#footer #footer-links ul {
    margin-top:10px;
    margin-left:10px;
}

div#footer #footer-links ul li {
    list-style: none;
    display: inline;
    border-left: #848484 1px solid;
    padding: 0 10px;
}

div#footer #footer-links ul li.first {
    border: none;
}

div#footer #footer-copyright {
    float:left;
    margin-top:10px;
    margin-left:10px;
    color:#848484;
}

div#footer #footer-credits {
    float:right;
}

div#footer #footer-credits img {
    vertical-align: middle;
    margin-top:4px;
    height:35px;
    width:110px;
    border:none;
    background: url(../images/footer-logo.png) 0 0 no-repeat;
}

/* ############################### MIDDLE ############################### */

div#middle {
    position:absolute;
    top:70px;
    bottom:36px;
    left:0;
    width:100%;
    overflow:hidden;
    border-top: 1px solid #BDBDBD;
}

div#main {
    overflow: auto;
    width: 100%;
    height:auto;
    margin:0;
    padding:0;
}

div#reports {
    position:absolute;
    top:42px;
    bottom:40px;
    width:100%;
    overflow:auto;
    overflow-x:hidden;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}

div#details {
    overflow:auto;
    padding:0;
    margin:0;
    top:40px;
    left:0;
    bottom:0;
    position:absolute;
    width:100%;
}

/* ############################### COLUMNS ############################### */

#column,
.column{
    float: left;
    width: 48%;
    height: 100%;
    margin-top: 20px;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:10px;
}

/*div#left-column,*/
/*div#right-column{*/
    /*float: left;*/
    /*width: 48%;*/
    /*height: 100%;*/
    /*margin-top: 20px;*/
    /*margin-left:1%;*/
    /*margin-right:1%;*/
    /*margin-bottom:10px;*/
/*}*/

/*div.right-pane {*/
    /*width: 49%;*/
    /*float: right;*/
    /*margin-right: 13px;*/
/*}*/

/*div.left-pane {*/
    /*width: 49%;*/
    /*float: left;*/
/*}*/

#main-reports li,
#main-news li{
    list-style: none;
    margin-bottom:10px;
    font-size:14px;
}

#main-reports li.title,
#main-news li.title{
    font-weight:bold;
    font-size:18px;
    color:#A4A4A4;
}

#main-reports li.more,
#main-news li.more{
    text-align:right;
}

#main-welcome div {
    font-size:16px;
    color:#848484;
    margin-bottom: 20px;
}

#main-welcome div p {
    margin-bottom:10px;
}

#main-categories ul {
    margin-bottom: 18px;
}

#main-categories ul li {
    list-style: none;
    display:inline;
    font-size:14px;
    margin-right:10px;
}

#main-categories ul li.title {
    font-size:18px;
    color:#A4A4A4;
}

/* ############################### PAGINATION ############################### */

div#pagination ul li {
    -moz-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -khtml-border-radius:5px;
    background-color: #F2F2F2;
    display: inline-block;
    list-style-type: none;
    border: 1px solid #BBB;
    text-align:center;
    padding:4px 5px 4px 5px;
    color:#424242;
}

div#pagination {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;
    background-color:#FAFAFA;
    border-top: 1px solid #BDBDBD;
}

div#pagination .toggle {
    float:right;
    height:40px;
    margin-top:8px;
    margin-right:0px;
}

div#pagination ul.toggle a {
    padding:3px 5px 3px 25px;
    background-color:transparent;
    background-position:0 2px;
    background-repeat:no-repeat;
    text-transform: uppercase;
    text-align:center;
}

div#pagination ul.toggle .active {
    background-color:#D8D8D8;
}

div#pagination ul.toggle li {
    float:left;
    margin-right:8px;
    font-weight:bold;
    width:100px;
}

div#pagination ul.toggle a.navigation_list {
    background-image:url("../images/list.png");
}

div#pagination ul.toggle a.navigation_map {
    background-image:url("../images/map.png");
}

div#pagination ul.toggle a.navigation_gallery {
    background-image:url("../images/gallery.png");
}

div#pagination ul.toggle a.navigation_checkin {
    background-image:url("../images/checkin.png");
}

div#pagination .pagination {
    float:left;
}

div#pagination .breadcrumb {
    float:left;
    color:#848484;
    margin-top:14px;
    font-size:12px;
}

div#pagination ul {
    margin-top:10px;
    margin-left:0px;
}

div#pagination li.active {
    background-color:#D8D8D8;
}

/* ############################### FILTERS ############################### */

div#filters ul li {
    -moz-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -khtml-border-radius:5px;
    background-color: #F2F2F2;
    display: inline-block;
    list-style-type: none;
    border: 1px solid #BBB;
    text-align:center;
    padding:4px 5px 4px 5px;
    color:#424242;
}

div#filters {
    position:absolute;
    top:0;
    width:100%;
    left:0;
    background-color:#FAFAFA;
}

div#filters ul {
    margin-left:10px;
    margin-top:5px;
    float:left;
}

div#filters ul li {
    margin-right:8px;
    margin-bottom:8px;
}

div#filters .item-count {
    display:none;
}

div#filters .item-swatch {
    display:none;
}

/* ############################### TITLE BAR ############################### */

#titlebar {
    position:absolute;
    top:0;
    width:100%;
    height:40px;
    left:0;
    overflow:hidden;
    background-color:#FAFAFA;
    border-bottom: 1px solid #BDBDBD;
}

#titlebar {
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#titlebar .previous,
#titlebar .next {
    background-color:transparent;
    background-repeat:no-repeat;
}

#titlebar .previous {
    padding:3px 5px 3px 25px;
    background-position:5px 4px;
    background-image:url("../images/previous.png");
}

#titlebar .next {
    padding:3px 25px 3px 5px;
    background-position:40px 4px;
    background-image:url("../images/next.png");
}

#titlebar .report_title {
    font-size:18px;
    font-weight:bold;
}

#titlebar .report_categories {

}

#titlebar .report_categories span {
     margin-right:10px;
}

#titlebar .titlebar_previous {
   text-align:left;
}

#titlebar .titlebar_title {
    text-align:center;
}

#titlebar .titlebar_categories {
    text-align:center;
}

#titlebar .titlebar_next {
    text-align:right;
}

/* ############################### SEARCH RESULTS ############################### */

div#search-results  {
    padding:20px;
}

div#search-results .search_info {
    -moz-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -khtml-border-radius:5px;
    background-color: #F2F2F2;
    border: 1px solid #D8D8D8;
    padding:5px;
    font-size:16px;
}

div#search-results .search_result {
    -moz-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -khtml-border-radius:5px;
    background-color: #FAFAFA;
    border: 1px solid #F2F2F2;
    padding:5px;
}

div#search-results .search_result {
    min-height: 20px;
    font-size:14px;
}

div#search-results .search_result h3 {
    float:left;
    margin-right:20px;
}

div#search-results .search_result span {

}

div#search-results .search_result div.search_date {
    float:right;
    margin-right:10px;
    font-size:14px;
}

div#search-results .search_result div.search_date:after {
    clear: both;
}

/* ############################### FORM ############################### */

form {
    margin:0 0 0 0;
}

form legend {
    font-size: 1.125em;
    font-weight: bold;
}

form fieldset {
    margin: 0 0 32px 0;
    padding: 8px;
}

form label {
    display: inline-block;
    width: 150px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
    font-size:14px;
    margin-right:10px;
}

form input[type=text] {
    width: 95%;
    padding:5px;
}
form input[type=checkbox] {
    text-align:left;
}

form input.input_captcha {
    float:left;
}

form span {
    display: block;
    overflow: hidden;
    padding: 0 0 0 0;
}​

form span img {
     width:20%;
     height:15px;
     display:inline;
     float:left;
 }

.text, .textarea, .select, .file {
    color:#585858;
}

/* ############################### REPORTS ############################### */

#rb_list-view {
    padding-top:0;
}

div.report-item {
    padding:10px;
    margin-bottom:10px;
    margin-right:10px;
}

div.report-item .report-details {
    display: inline;
}

div.report-item .report-title {
    font-size:1.5em;
    font-weight: bold;
}

div.report-item .report-location {
    display: inline;
    margin-top:10px;
    margin-right:10px;
}

div.report-item .report-categories {
    display: inline;
    margin-top:10px;
    margin-right:10px;
}

div.report-item .report-description {
    display:block;
    margin-top:5px;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    border:none;
    font-size:13px;
}

div.report-item .report-thumbnail {
    float:left;
    margin-right:10px;
}

div.report-item .report-image {
    float:left;
    width:110px;
    height:75px;
    margin-top:0;
    margin-left:0;
    margin-right:10px;
    margin-bottom:5px;
    background-image:url(../images/report-thumb-gallery.jpg);
}

/* ############################### REPORT DETAILS ############################### */

.report_description,
.report_comments,
.report_comment_form,
.report_extras,
.report_media,
.report_nearby,
.report_custom,
.report_comments{
    margin-bottom:10px;
}

.report_description {
    font-size:15px;
}

.report_nearby_title,
.report_custom_name {
    font-size:15px;
    float:left;
}
.report_nearby_location,
.report_custom_value {
    font-size:15px;
    float:right;
}

.report_media {
    vertical-align: top;
    text-align: center;
}
.report_media object,
.report_media object embed{
    width:32% !important;
    margin-right:0;
    margin-left:0;
}

.report_media_image {
    width:32% !important;
    overflow:hidden;
    float:left;
    margin-left:1%;
}

.report_media_image img {
    width:100%;
}

/* ############################### CHECKINS ############################### */

.checkin-message {
    font-style: italic;
}

.checkin-user {

}

.checkin-date {
    font-size:12px;
}

.checkin-image {

}

.checkin-comment {

}

/* ############################### ALERTS ############################### */

div#alerts {
    overflow: auto;
    width: 100%;
    height:100%;
    margin-top:0;
    margin-bottom:10px;
    margin-left:0;
    margin-right:0;
    padding:0;
}

div#alerts h1 {
    margin-left:20px;
    margin-top:10px;
    margin-bottom:0;
}

div#alerts div.map,
div#alerts #divMap {
    height:250px;
    overflow: hidden;
}

div#alerts div.map p {
    display: none;
}

div#alerts .alerts_step {
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
}

div#alerts .alerts_step h2 {
    padding-bottom:10px;
}

div#alerts ul {
    display: block;
    float:none;
    clear:both;
}

div#alerts ul li {
    list-style: none;
    float:left;
    margin-right:10px;
    margin-bottom:5px;
    font-size:14px;
}

div#alerts ul li.parent {
    font-weight: bold;
}

div#alerts form label {
    text-align: left;
}

.alert_slider {
    height:45px;
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
}

div#alerts span.ui-slider-label,
div#alerts span.ui-slider-label-show {
    width:50px;
    font-size:11px;
    text-align: center;
}

div#alerts ol.ui-slider-scale {
    margin-left:0px;
    margin-right:0px;
}

div#alerts #find_loading {
    width:20px;
    height:30px;
}

div#alerts div.alert_location {
    height:35px;
}

div#alerts div.alert_location_left {
    float:left;
    width:100%;
}

div#alerts div.alert_location_left div {
    margin-right:150px;
    height:35px;
}
div#alerts div.alert_location_right {
    float:right;
    width:150px;
    margin-left:-150px;
    height:35px;
}

.alerts_confirm_mobile,
.alerts_confirm_email,
.alerts_confirm_return {
    margin-bottom:20px;
    padding:10px;
}

.confirm_link {
    margin-left:20px;
}

/* ############################### FEED RESULTS ############################### */

div.feed-item {
    margin-bottom:20px;
    padding:10px;
}

div.feed-item .feed-title {
    float:left;
    font-weight:bold;
    font-size:14px;
    margin-bottom: 10px;
}

div.feed-item .feed-date {
    float:right;
    font-size:13px;
    margin-right:12px;
}

div.feed-item .feed-source {
    float:right;
    font-size:13px;
    color:#848484;
}

div.feed-item .feed-description {
    float:none;
    clear:both;
    font-size:13px;
}

/* ############################### MAP ############################### */

div.map {
    border: #999 1px solid;
    width: 100%;
    height: 900px;
    position:relative;
}
div#report-map,
div.report-map,
div.map-holder,
div#map {
    border: #999 1px solid;
    width: 100%;
    height: 250px;
    position:relative;
}

#mapStatus {
    display:none;
    float: left;
    background-color: #e1e1e1;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
    font-size: 10px;
    width: 100%;
}

#mapStatus div {
    float: left;
    display: inline-block;
    padding: 4px 6px 4px 6px;
}

#mapOutput sup {
    height: 0;
    line-height: 1;
    vertical-align: text-top;
    position: relative;
    font-size: 8px;
}

/* ############################### POPUP ############################### */

div#popup {
}

div#popup #popup_image {
    float:left;
    margin-right:5px;
}

div#popup #popup_title {
    margin-top:20px;
    font-size:20px;
    color:#585858;
    font-weight: bold;
}

div#popup #popup_location {
    margin-top:5px;
    font-size:14px;
    color:#848484;
}

div#popup #popup_category {
    margin-top:5px;
    font-size:14px;
    color:#848484;
}

div#popup #popup_description {
    margin-top:5px;
    font-size:14px;
    color:#848484;
    max-width:400px;
    text-align:justify;
}

/* ############################### PAGER ############################### */

ul.pager  {
    margin-left:0;
    padding-left:0;
}

ul.pager li,
ul.pager li.first {
    -moz-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -khtml-border-radius:5px;
    background-color: #F2F2F2;
    border: 1px solid #D8D8D8;
    padding:5px;
}

ul.pager li a.active,
ul.pager li.first a.active{
    background-color: #F2F2F2;
}

/* ############################### SUBMIT ############################### */

#submit-categories ul {
    margin-bottom:10px;
}

#submit-categories ul li {
    list-style: none;
    display: inline;
    font-size:14px;
    padding-right:10px;
}

#submit-categories ul li.parent {
    font-weight: bold;
}